.container {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  min-height: calc(100vh - var(--header-height));
}

.header {
  /* TODO use css variable since this is shared */
  padding: 0 var(--global-padding);
  height: var(--header-height);
  background: white;
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header a {
  cursor: pointer;
  font-weight: bold;
}

.innerHeader {
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 8px;
}

.backToHome {
  margin: 3rem 0 0;
}
