/* CSS Variables */
:root {
  /* Header */
  --header-height: 75px;

  /* Padding */
  --global-padding: 32px;

  /* Color */
  --color-primary: #355C7D;
  --color-primary-hover: rgb(53, 92, 125, 0.8);

  /* Breakpoints */
  --breakpoint-mobile: 768px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  color: var(--color-primary);
}

a {
  color: var(--color-primary) !important;
  text-decoration: none !important;
}

a:hover {
  color: var(--color-primary-hover) !important;
}

* {
  box-sizing: border-box;
  color: var(--color-primary);
}


img {
  max-width: 100%;
  display: block;
}

.mapboxgl-popup-content {
  padding: 8px !important;
  padding-top: 24px !important;
  line-height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.mapboxgl-popup-close-button {
  color: var(--color-primary);
}

button {
  background: var(--color-primary);
  color: #fff;
  border: none;
  border-radius: 4px !important;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.mapboxgl-popup-content button {
  font-size: 12px;
}




.mapboxgl-popup.mapboxgl-popup-anchor-bottom {
  max-width: none !important;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


#outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#number-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#dash {
  font-size: 100px;
  font-weight: bold;
}

#number1 {
  opacity: 0;
  font-size: 100px;
  font-weight: bold;
  animation: fadeIn 1s 1s forwards;
}
#number2 {
  opacity: 0;
  font-size: 100px;
  font-weight: bold;
  animation: fadeIn 1s 2s forwards;
}
#number3 {
  opacity: 0;
  font-size: 100px;
  font-weight: bold;
  animation: fadeIn 1s 3s forwards;
}
#number4 {
  opacity: 0;
  font-size: 100px;
  font-weight: bold;
  animation: fadeIn 1s 4s forwards;
}

#text-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


#text {
  opacity: 0;
  font-size: 32px;
  font-weight: bold;
  animation: fadeIn 1s 6s forwards;
}