.container {
  display: flex;
  height: 100%;
  width: 100%;
  max-height: 100vh;
}

.sidebar {
  width: 500px;
  height: 100%;
  max-height: 100vh;
  overflow-y: scroll;
}

.mapContainer {
  flex: 1;
  height: 100%;
  width: 100%;
}


/* Sidebar */
.category {
  font-weight: bold;
  color: gray;
  display: block;
  margin-top: 30px;
}

.about {
  margin-top: 30px;
  font-size: 12px;
  color: gray;
}

.aboutTitle {
  font-weight: bold;
  margin-bottom: 16px;
}

.innerContainerAbout {
  padding: 16px 20%;
}

.poiTitle {
  all: unset;
  cursor: pointer;
  font-weight: bold;
  color: blue;
  display: block;

  margin: 10px 0;
}


.marker {
  background: red;
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.mapStyleSwitcher {
  position: absolute;
  top: 20px;
  right: 50%;
  transform: translateX(50%);
  z-index: 1;
  background: white;
  display: flex;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 0 0 2px rgba(0,0,0,.1);
  padding: 8px 16px;
  gap: 4px;
}

.mapStyleSwitcher label {
  display: flex;
  cursor: pointer;
  gap: 4px;
  font-size: 16px;
}

.mapStyleSwitcher span {
  display: flex;
  cursor: pointer;
  gap: 4px;
  font-size: 16px;
}



.mapStyleSwitcher input {
  cursor: pointer;
  margin: 0;
}